<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{htmlWebpackPlugin.options.title}}</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.1.1/handlebars.min.js"></script>
    <script src="/src/cookie.js"></script>
    
</head>
<body>
    <script id="entry-template" type="text/x-handlebars-template"></script>
<div id="homework-container">
    {{> "./cookie-content.hbs"}}
</div>
</script>
</body>
</html>
